<body>
  <div class="container">
<h1>User Profiles</h1>
<br>
<p>
<<<<<<< HEAD
<<<<<<< HEAD
	<% @profiles.each do |profile| %>
		<table>
		<%=  link_to profile.name, profile_path(profile) %>
		</table>
=======
=======
>>>>>>> a6adf7b4a67520bd17236cbd49f27fd7c362057f
	<table class="table table-striped">
	<tr><th>Name</th>
		<th>Email</th>
	</tr>
		<% @profiles.each do |profile| %>
		<tr>
		<td><h5><%= link_to profile.name, profile_path(profile) %></h5></td>
		<td><h5><%= profile.email %></h5></td>
	</tr>
		
<<<<<<< HEAD
>>>>>>> 608a5d2e70e5a117e8fc52049542552e6e96d53c
=======
>>>>>>> a6adf7b4a67520bd17236cbd49f27fd7c362057f
	<% end %>
</table>
</p>
</br>
 </div>
</body>
